@model Entity_Model_Layer.Models.Patient

@{
    ViewData["Title"] = "showpatientbyid";
}

<h1>Patient Details</h1>

<div>
    <h4>Patient</h4>
    <hr />
        <dl class="row justify-content-md-center">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PatientId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PatientId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AGe)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AGe)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PWeight)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PWeight)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PAddress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Disease)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Disease)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Doctor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DoctorId)
            </dd>
        </dl>
      </div>

<div>
    <a asp-action="updatepatientdetails" asp-route-PatientId="@Model.PatientId">Edit</a> |
    <a asp-action="showpatientdetails">Back to List</a>
</div>
